{% extends 'base.html.twig' %}

{% block title %}Guy Taracoustik - Guitariste{% endblock %}

{% block main %}


        <section class="intro">
            <img src="img/guitariste-intro.jpg" alt="guitariste">
            <div class="col-intro">
                <h1>Guy TARACOUSTIK</h1>
                <h2>Cours de guitare</h2>
                <div class="intro-cours">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores vitae tempora eveniet praesentium! Neque asperiores, modi molestias eligendi id, provident ab nostrum, dicta facilis animi commodi numquam nemo quos saepe.
                    Id, quam. Quidem fugit cum vero deserunt consectetur eos. Facilis magni ipsum numquam assumenda doloremque accusamus nobis? Quam officiis, earum dolorum pariatur quos, vitae mollitia non illo, nemo voluptatibus aspernatur!</p>
                    <a href="{{ path('cours') }}" class="bt">En savoir plus</a>
                </div>
            </div>
            <div class="intro-guitariste">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, quaerat necessitatibus incidunt ullam facere voluptatibus aspernatur? Et nesciunt minus omnis. Dicta, maxime dolorem labore explicabo reprehenderit doloribus assumenda eveniet itaque?
                Beatae excepturi, consequuntur, minus itaque ullam nam molestias eum nostrum exercitationem atque ea, necessitatibus illum! Quibusdam nam sunt mollitia ex earum atque praesentium quisquam delectus nulla. Repudiandae sint nobis omnis.
                Facilis voluptatem ea repellendus dicta a doloremque voluptatum error dignissimos, praesentium corrupti temporibus quod tempora. Unde nesciunt illum, blanditiis ipsum cupiditate perspiciatis aperiam porro quos dolorum laudantium similique neque? Placeat?
                Placeat repellat voluptas est quis earum!</p>
            </div>
            

        </section>
        <div class="fond-section">
            <div class="vague">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1200 58.2" preserveaspectratio="non">
                    <path d="M0,0h1200v4.5c0,0-50.9-4.5-95-4.5C988,0,700,39.7,600,48s-200,11.3-300,9.8S100,49.6,50,46.4L0,43.1V0z"></path>
                </svg>
            </div>
            <section class="liste-articles">
                <ul>
                {% for article in articles %}
                    <li class="item">
                        <a href="{{ path("article_show", {'slug': article.slug}) }}">
                            <img src="/img/article/thumbnail/{{ article.photoPath }}" alt="{{ article.photoTitle }}">
                            <h3>{{ article.title }}</h3>
                        </a>
                        <p>{{ article.body|u.truncate(150, '...', false)|striptags }}</p>
                    </li>

                {% endfor %}                    
                </ul>
                <a href="{{ path('articles_front') }}" class="bt">Voir tous les articles</a>
            </section>
        </div>


{% endblock %}
