{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe
{% endblock %}

{% block main %}

	<section class="connect reset">
		<div>
			<h1>Réinitialisez<br>votre mot de passe</h1>
			{% for flashError in app.flashes('reset_password_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}
			{{ form_start(requestForm) }}
			{{ form_label(requestForm.email) }}
            {{ form_widget(requestForm.email) }}
            {{ form_errors(requestForm.email) }}

			<p>Entrez votre adresse e-mail et nous vous enverrons un
					lien pour réinitialiser votre mot de passe.</p>


			<input type="submit" value="Envoyer">
			{{ form_end(requestForm) }}
		</div>
	</section>


{% endblock %}
