{% extends 'base.html.twig' %}

{% block title %}Liste des Document
{% endblock %}

{% block main %}

	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>
			
		</div>
		<div class="col2">
			<div class="title">
				<h3>
					Documents
				</h3>
			</div>
			<div class="admin-panel">

				<section>
					<table class="tab2col">
						<tr>
							<th>Date</th>
							<th>Titre</th>
							<th class="mobile-none">Nom du document</th>
							<th></th>
						</tr>
						{% for file in files %}
							<tr>
								<td>
									{{ file.publishedAt ? file.publishedAt|date('d/m/Y') : '' }}
								</td>
								<td>
									{{ file.title }}
								</td>
								<td class="ws mobile-none">
									{{ file.path }}
								</td>
								<td>
									<a class="bt-tab" href="{{ path('file_show', {'id': file.id}) }}">Voir</a>
									<a class="bt-tab" href="{{ path('file_edit', {'id': file.id}) }}">Éditer</a>
								</td>
							</tr>

						{% else %}
							<tr>
								<td class="ws">Aucun Document !</td>
								<td></td>
							</tr>
						{% endfor %}
					</table>
				</section>

				<section>
					<a class="bt-form" href="{{ path('file_new') }}">Nouveau document</a>
				</section>


			</div>
		</div>


	</section>


{% endblock %}
