{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block main %}
	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>
			
		</div>
		<div class="col2">
			<div class="title">
				<h3>
					Document
				</h3>
			</div>
			<div class="admin-panel">
            <section>

				<table class="tab2col">
                     <tr>
                        <td class="ws">Date : </td>
                        <td class="ws">{{ file.publishedAt ? file.publishedAt|date('d/m/Y') : '' }}</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="ws">Titre :</td>
                        <td class="ws">{{ file.title }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="ws">Nom du document :</td>
                        <td class="ws"><a href="/img/documents/{{ file.path }}">{{ file.path }}</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="ws">Partagé avec :</td>
                        <td class="ws">
                            <ul>
                            {% for user in file.user %}
                                <li><a href="{{ path('student_show', {'id': user.id}) }}">{{ user.firstname }} {{ user.lastname }}</a></li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td></td>
                        
                    </tr>

                    <tr>
                        <td class="ws">Description :</td>
                        <td class="w100">{{ file.description }}</td>
                        <td></td>
                    </tr>
				</table>
                </section>

                <section class="boutons">
                    <a class="bt-form" href="{{ path('file_index') }}">Retour à la liste</a>
                    <a class="bt-form" href="{{ path('file_edit', {'id': file.id}) }}">Édition</a>
                    {{ include('file/_delete_form.html.twig') }}
                </section>
			</div>
		</div>


	</section>


{% endblock %}
