{% extends 'base.html.twig' %}

{% block title %}Validation d'un cours{% endblock %}

{% block main %}

	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>
			
		</div>
		<div class="col2">
			<div class="title">
				<h3>
					Cours du {{ lesson.date|date("j M\\. Y", "Europe/paris") }}
				</h3>
			</div>
			<div class="admin-panel">

				<section>
					<p><b>Le cours du {{ lesson.date|date("j M\\. Y", "Europe/paris") }} à {{ lesson.hour }} h. </b>

					{% if lesson.user != null %}
						
						{% if is_granted("ROLE_TEACHER") == true %}
							</p>
							<p>a été réservé par {{ lesson.user.firstname }} {{ lesson.user.lastname }}</p>
							<p>le {{ lesson.bookedOn|date("j M\\. Y", "Europe/paris") }}</p>
						
                        	{{ include('lesson/_form.html.twig', {'button_label': 'Enregistrer'}) }}
						{% endif %}

					{% else %}
						<p>n'est pas encore réservé</p>

					{% endif %}	


					{% if is_granted("ROLE_TEACHER") != true %}

						{% if lesson.valid != null %}
							est validé.
						{% else %}
							n'est pas encore validé
						{% endif %}
						</p>

					{% endif %}	

					

                        {# <a href="{{ path('lesson_index') }}">back to list</a> #}
				</section>
				<section>

					{% if is_granted("ROLE_TEACHER") != true %}
						{% if lesson.date|date('d-m-Y') > "now"|date_modify('+2 day')|date('d-m-Y') %}
							
							{{ include('lesson/_cancel_form.html.twig') }}
						{% else %}
							<p>Le délais est trop court pour annuler le cours.</p>
							<p>Pour le faire, vous devez contacter Guy Taracoustik soit par téléphone, soit par mail : <a href="#">adresse@mail</a>.</p>
							
						{% endif %}
					{% else %}
						{% if lesson.user is not null %}
							{{ include('lesson/_cancel_form.html.twig') }}
						{% endif %}
						
					{% endif %}
						
						



					{% if is_granted("ROLE_TEACHER") == true %}
						{% if lesson.valid != 1 %}
							{{ include('lesson/_delete_form.html.twig') }}
						{% endif %}
					{% endif %}

					
				</section>



			</div>
		</div>


{% endblock %}
