{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block main %}

	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>
			<div class="info">
				<p class="readmore">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos deleniti sequi
                rerum velit dignissimos quo, beatae hic architecto earum dicta. Ipsa, iste. Fugit, placeat atque
                nemo iure praesentium officia nisi quae esse consequatur fugit ab facilis unde facere impedit
                aperiam</p>

			</div>
		</div>
		<div class="col2">
			<div class="title">
				<h3>
					Prochains cours
				</h3>
			</div>
			<div class="admin-panel">

				<section>
                    <table class="tab2col">
                            <tr>
                                <th>Valid</th>
                                <th>Date</th>
                                <th>Heure</th>
                                {% if is_granted("ROLE_STUDENT") != true %}
                                    <th>Élève</th>
                                {% endif %}
                                <th class=""></th>
                            </tr>

                        {% set mois = '' %}    
                        {% for lesson in lessons %}
                            
                            {% if is_granted("ROLE_STUDENT") != true %}
                                {% if mois != lesson.date|date("d-m-Y") %}
                                    <tr>
                                        <td colspan="5" class="td-soustitre">
                                            Le {{ lesson.date|date("d M Y") }}
                                        </td>
                                    </tr>
                                    {% set mois = lesson.date|date("d-m-Y") %}
                                {% endif %}
                            {% else %}
                                {% if mois != lesson.date|date("m-Y") %}
                                    <tr>
                                        <td colspan="5" class="td-soustitre">
                                            {{ lesson.date|date("M\\. Y") }}
                                        </td>
                                    </tr>
                                    {% set mois = lesson.date|date("m-Y") %}
                                {% endif %}
                            {% endif %}

                            
                            

                            <tr>
                                <td>
                                    <svg>
										{% if lesson.valid == true %}
											<title>Cours validé</title>
											<use xlink:href="/img/icons.svg#check">
                                        {% else %}
                                            <title>En attente de validation</title>
                                            <use xlink:href="/img/icons.svg#clock"></use>
                                        {% endif %}
                                    </svg>
                                </td>
                                <td>{{ lesson.date ? lesson.date|date('d-m-Y') : '' }}</td>
                                <td>{{ lesson.hour }} h.</td>

                                 {% if is_granted("ROLE_STUDENT") != true %}
                                <td class="ws">
                                    {% if lesson.user.id is defined and lesson.user.id is not null %}
                                        <a href="{{ path('student_show', {'id': lesson.user.id}) }}">{{ lesson.user.firstname }}
										{{ lesson.user.lastname }}</a>
                                    {% endif %}
                                </td>
                                {% endif %}

                                <td class="ws">
                                    {# {% if is_granted("ROLE_STUDENT") == true %}
                                        {% if lesson.date|date('d-m-Y') > "now"|date_modify('+2 day')|date('d-m-Y') %}
                                            
                                            <a class="bt-tab" href="">Annuler le cours</a>
                                        {% else %}
                                            <a class="bt-tab" href="">Contacter le prof</a> 
                                        {% endif %}
                                        
                                    {% else %} #}
                                    {% if is_granted("ROLE_STUDENT") != true %}
                                        <a class="bt-tab" href="{{ path('lesson_show', {'id': lesson.id}) }}">Voir</a>
                                    {% endif %}
                                        <a class="bt-tab" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Éditer</a>
                                    {# {% endif %} #}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Aucun cours !</td>
                            </tr>
                        {% endfor %}
                    </table>

				</section>

				<section>
				</section>


			</div>
		</div>






{% endblock %}
