<div class="header-content">
    <a href="{{ path("home") }}">
        <img src="/img/logo.svg" alt="Logo Guy Taracoustik" class="logo">
    </a>

    <div class="nav-bar">
        <nav class="" id="menu">
            <ul>
                <a href="{{ path("biographie") }}"><li>Biographie</li></a>
                <a href="{{ path("cours") }}"><li>Cours</li></a>
                <a href="{{ path("articles_front") }}"><li>Articles</li></a>
                <a href="{{ path("contact") }}"><li>Contact</li></a>
            </ul>
            <svg class="bt-menu bt-close"><title>Fermer</title><use xlink:href="/img/icons.svg#cross"></use></svg>
        </nav>
        <nav class="mobile">
                <svg class="bt-menu"><title>Conexion</title><use xlink:href="/img/icons.svg#menu"></use></svg>
        </nav>
        <nav class="log">
            {% if is_granted("ROLE_STUDENT") == true %}
                <a href="{{ path("lesson_index") }}" title="Accès au backstage">
                    <svg><title>Conexion</title><use xlink:href="/img/icons.svg#user"></use></svg>
                    <span class="nom-log">{{ app.user.firstname }}</span>
                </a>
            {% elseif is_granted("ROLE_USER") == true %}
                <a href="{{ path("backstage_index") }}" title="Accès au backstage">
                    <svg><title>Conexion</title><use xlink:href="/img/icons.svg#user"></use></svg>
                    <span class="nom-log">{{ app.user.firstname }}</span>
                </a>
            {% else %}
                <a href="{{ path("app_login") }}">
                    <svg><title>Conexion</title><use xlink:href="/img/icons.svg#user"></use></svg>
                    <span class="nom-log">Se connecter</span>
                </a>
            {% endif %}
        </nav>
    </div>
</div>
