{{ form_start(form) }}

    {# {{ form_widget(form) }} #}
    <div class="row">
        <fieldset>
            {{ form_widget(form.is_active) }}
            {{ form_label(form.is_active) }}
            {{ form_errors(form.is_active) }}
        </fieldset>
    </div>

    <div class="row">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>
    
    <div class="row">
        {{ form_label(form.slug) }}
        {{ form_errors(form.slug) }}
        {{ form_widget(form.slug) }}
    </div>

    <div class="row">
        {{ form_label(form.body) }}
        {{ form_errors(form.body) }}
        {{ form_widget(form.body) }}
    </div>
    <fieldset class="fieldset">
        <legend>PHOTO</legend>
        <div>
            <img src="/img/article/{{ article.photoPath }}" alt="{{ article.photoTitle }}" class="photo">
        </div>
        <div class="row">
            {{ form_label(form.photo_path) }}
            {{ form_errors(form.photo_path) }}
            {{ form_widget(form.photo_path) }}
        </div>

        <div class="row">
            {{ form_label(form.photo_title) }}
            {{ form_errors(form.photo_title) }}
            {{ form_widget(form.photo_title) }}
        </div>
    </fieldset>
    <fieldset class="fieldset">
        <legend>RÉFÉRENCEMENT</legend>
        <div class="row">
            {{ form_label(form.meta_title) }}
            {{ form_errors(form.meta_title) }}
            {{ form_widget(form.meta_title) }}
        </div>

        <div class="row">
            {{ form_label(form.meta) }}
            {{ form_errors(form.meta) }}
            {{ form_widget(form.meta) }}
        </div>
    </fieldset>
    
    <button class="bt-form">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
