{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block javascripts %}    
{% endblock %}

{% block main %}
<section class="liste-articles">

            <ul id="list" data-total-articles="{{ totalArticles }}" data-limit="{{ limit }}">

			{% for article in articles %}
                <li class="item">
                    <a href="{{ path("article_show", {'slug': article.slug}) }}">
                        <picture>
                            <source srcset="/img/article/thumbnail/{{ article.photoPath }}.webp" type="image/webp">
                            <source srcset="/img/article/thumbnail/{{ article.photoPath }}.jpg" type="image/jpeg"> 
                            <img src="/img/article/thumbnail/{{ article.photoPath }}.jpg" alt="{{ article.photoTitle }}">
                        </picture>
                        <h3>{{ article.title }}</h3>
                    </a>
                    <p>{{ article.body|u.truncate(150, '...', false)|striptags }}</p>
                </li>

            {% endfor %}	
                           
            </ul>
             <a class="bt active" id = "load-articles" >Plus d'articles</a>  

        </section>	


{% endblock %}
