{% extends 'base.html.twig' %}

{% block title %}
    {% if article.metaTitle == "" %}
        {{ article.title }}
    {% else %}
        {{ article.metaTitle }}
    {% endif %}
{% endblock %}
{% block meta_description %}{{ article.meta }}{% endblock %}



{% block main %}

    <section class="article">
        <img src="/img/article/wide/{{ article.photoPath }}" alt="{{ article.photoTitle }}">
        <h3>{{ article.title }}</h3>
        <div class="txt-article">
            <div class="body-article">
            {{ article.body|raw }}
            </div>
            <nav>
                <a href="#"><svg><title>Article précédent</title><use xlink:href="/img/icons.svg#angle-left"></use></svg></a>
                <a href="#"><svg><title>Article suivant</title><use xlink:href="/img/icons.svg#angle-right"></use></svg></a>
            </nav>
        </div>

        
    </section> 

{% endblock %}
