{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block main %}

	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>
			<div class="info">
				<p class="readmore">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos deleniti sequi
					                rerum velit dignissimos quo, beatae hic architecto earum dicta. Ipsa, iste. Fugit, placeat atque
					                nemo iure praesentium officia nisi quae esse consequatur fugit ab facilis unde facere impedit
					                aperiam
					                veritatis earum fuga optio, debitis doloremque at velit totam accusamus excepturi. Repudiandae
					                animi voluptatem soluta officia veritatis, molestiae aliquam quo in impedit sit suscipit
					                reprehenderit fugiat, architecto iure vitae laboriosam cupiditate obcaecati?</p>

			</div>
		</div>
		<div class="col2">
			<div class="title">
				<h3>
					{% if is_granted("ROLE_ADMIN") == true %}
						Utilisateurs
					{% else %}
						Élèves
					{% endif %}
				</h3>
			</div>
			<div class="admin-panel">

				<table class="tab2col">
					<tr>
						<th>Valide</th>
						<th class="ws">Date d'enregistrement</th>
						<th>Nom</th>
						<th>Rôle</th>
						<th></th>
					</tr>
					{% for user in users %}
							<tr>
								<td>
									<svg>
										{% if user.isVerified == true %}
											<title>Validé</title>
											<use xlink:href="/img/icons.svg#check">
											{% else %}
												<title>En attente</title>
												<use xlink:href="/img/icons.svg#clock"></use>
											{% endif %}
										</svg>
									</td>
								</td>
								<td>
									{{ user.addedDate ? user.addedDate|date('d/m/Y') : '' }}
								</td>
								<td class="ws">
									<a href="{{ path('student_show', {'id': user.id}) }}">{{ user.firstname }}
										{{ user.lastname }}</a>
								</td>
								<td>
									{% if  "ROLE_ADMIN" in user.roles %}
										Admin
									{% elseif "ROLE_TEACHER" in user.roles %}
										Prof
									{% elseif "ROLE_STUDENT" in user.roles %}
										Élève
									{% else %}
										User
									{% endif %}
								</td>
								<td>
									{% if is_granted("ROLE_ADMIN") == true %}
										<a class="bt-tab" href="{{ path('user_edit', {'id': user.id}) }}">Éditer</a>
									{% endif %}
								</td>
							</tr>

					{% else %}
					<tr>
						<td>Aucun utilisateur !</td>
						<td></td>
					</tr>
					{% endfor %}
				</table>


			</div>
		</div>


	</section>


{% endblock %}
