{% extends 'base.html.twig' %}

{% block title %}Liste des Élèves{% endblock %}

{% block main %}

	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>
			
		</div>
		<div class="col2">
			<div class="title">
				<h3>
					{% if is_granted("ROLE_ADMIN") == true %}
						Utilisateurs
					{% else %}
						Élèves
					{% endif %}
				</h3>
			</div>
			<div class="admin-panel">

				<table class="tab2col">
					<tr>
						<th>Val.</th>
						<th class="w-mc mobile-none">Date d'enregistrement</th>
						<th class="w100">Nom</th>
						<th class="mobile-none w100">Rôle</th>
						{% if is_granted("ROLE_ADMIN") == true %}
							<th class="w100"></th>
						{% endif %}
					</tr>
					{% for user in users %}
							<tr>
								<td>
									<svg>
										{% if user.isVerified == true %}
											<title>Validé</title>
											<use xlink:href="/img/icons.svg#check">
											{% else %}
												<title>En attente</title>
												<use xlink:href="/img/icons.svg#clock"></use>
											{% endif %}
										</svg>
									</td>
								</td>
								<td class="w-mc mobile-none">
									{{ user.addedDate ? user.addedDate|date('d/m/Y') : '' }}
								</td>
								<td class="ws w100">
									<a href="{{ path('student_show', {'id': user.id}) }}">{{ user.firstname }}
										{{ user.lastname }}</a>
								</td>
								<td class="mobile-none w100">
									{% if  "ROLE_ADMIN" in user.roles %}
										Admin
									{% elseif "ROLE_TEACHER" in user.roles %}
										Prof
									{% elseif "ROLE_STUDENT" in user.roles %}
										Élève
									{% else %}
										User
									{% endif %}
								</td>
								{% if is_granted("ROLE_ADMIN") == true %}
									<td class="w100">
										<a class="bt-tab" href="{{ path('user_edit', {'id': user.id}) }}">Éditer</a>
									</td>
								{% endif %}
							</tr>

					{% else %}
					<tr>
						<td>Aucun utilisateur !</td>
						<td></td>
					</tr>
					{% endfor %}
				</table>


			</div>
		</div>


	</section>


{% endblock %}
