{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block main %}

        <section class="admin">
            <div class="col1">
                <nav class="admin-nav">
                    {% include "partial/_menuBackstage.html.twig" %}
                </nav>
                <div class="info">
                    {% if is_granted("ROLE_ADMIN") == true %}
                        <p>Bienvenue administrateur du site !</p>
                    {% elseif is_granted("ROLE_TEACHER") == true %}
                        <p>Bienvenue professeur !</p>
                     {% elseif is_granted("ROLE_STUDENT") == true %}
                        <p>Bienvenue {{ user.firstname }} sur votre espace d'administration, vous êtes enregistré comme élève.</p>    
                    {% elseif is_granted("ROLE_USER") == true %}
                        <p>Merci {{ user.firstname }} de vous être enregistré.</p>
                        <p>Mais pour avoir accès à toutes les fonctions et notamment réserver des cours vous devez confirmer votre adresse mail.</p>
                        <p>Si vous n'avez pas reçu le mail lors de votre inscription vous pouvez renvoyer la demande avec le bouton ci-dessous.</p>
                        <a class="bt" href="{{ path('app_emailvalid', {'user': user.id}) }}">Envoyer un mail</a>
                    {% endif %}
                    

                </div>
            </div>
            <div class="col2">
                <div class="title">
                    <h3>Profil</h3>
                </div>
                <div class="admin-panel">

                    <section>
                        <p>Enregistré depuis le {{ user.addedDate ? user.addedDate|date('d/m/Y') : '' }}</p>
                    </section>
                    
                    <section>
                        <table class="tab2col">
                            <tr>
                                <td class="ws">Prénom :</td>
                                <td>{{ user.firstname }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="ws">Nom :</td>
                                <td>{{ user.lastname }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="ws">Email :</td>
                                <td>{{ user.email }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="ws">Téléphone :</td>
                                <td>{{ user.phone }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="ws">Anniversaire :</td>
                                <td>{{ user.birthday ? user.birthday|date('d/m/Y') : '' }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="ws">Niveau :</td>
                                <td>{{ user.level }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="ws">Années de pratique :</td>
                                <td>{{ user.yearsPlaying }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="ws">Autre instrument :</td>
                                <td>{{ user.otherInstrument }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="ws">Information supplémentaire&#8239;:</td>
                                <td>{{ user.comment }}</td>
                                <td></td>
                            </tr>
                        </table>
                    </section>

                    <section class="boutons">
                        
                        <a class="bt-form" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                    </section>

                   
                   
                </div>
            </div>
        </section>



    {# <table class="table">
        <tbody>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
           
           
            <tr>
                <th>Added_date</th>
                <td>{{ user.addedDate ? user.addedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Update_date</th>
                <td>{{ user.updateDate ? user.updateDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
            
            <tr>
                <th>AgreeTerms</th>
                <td>{{ user.agreeTerms ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table> #}


    

    
{% endblock %}
