{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block javascripts %}
	<script>
		function animNote($n) {
			let btPencil = document.querySelector('.bt-note-pencil');
			let btClose = document.querySelector('.bt-note-close');
			let noteTxt = document.querySelector('.note-txt');
			let noteForm = document.querySelector('.note-form');

			if ($n == 'pencil') {
				btClose.classList.add("active");
				noteForm.classList.add("active");
				btPencil.classList.remove("active");
				noteTxt.classList.remove("active");
			} else {
				btClose.classList.remove("active");
				noteForm.classList.remove("active");
				btPencil.classList.add("active");
				noteTxt.classList.add("active");
			}
		}
		function btFile() {
			let btPlus = document.querySelector('#bt-plus');
			let fileList = document.querySelector('#file-list'); 
			let fileForm = document.querySelector('#form-file-user'); 

			
			if (btPlus.className == "active"){
				btPlus.classList.remove("active");
				fileList.classList.add("active");
				fileForm.classList.remove("active");
			}else{
				btPlus.classList.add("active");
				fileList.classList.remove("active");
				fileForm.classList.add("active");
			}
		}
	</script>
{% endblock %}

{% block main %}

	<section class="admin">
		<div class="col1">
			<nav class="admin-nav">
				{% include "partial/_menuBackstage.html.twig" %}
			</nav>
			<div class="info">
				{% if is_granted("ROLE_ADMIN") == true %}
					<p class="readmore">Je suis admin</p>
				{% elseif is_granted("ROLE_TEACHER") == true %}
					<p class="readmore">Je suis le professeur</p>
				{% elseif is_granted("ROLE_STUDENT") == true %}
					<p class="readmore">Bienvenue sur votre espace d'administration, vous êtes enregistré comme élève.</p>
				{% elseif is_granted("ROLE_USER") == true %}
					<p class="readmore">Merci de vous être enregistré.</p>
					<p class="readmore">Mais pour avoir accès à toutes les fonctions et notamment réserver des cours vous devez confirmer votre adresse mail.</p>
					<p class="readmore">Si vous n'avez pas reçu le mail lors de votre inscription vous pouvez renvoyer la demande avec le bouton ci-dessous.</p>
					<a class="bt" href="{{ path('app_emailvalid', {'user': user.id}) }}">Envoyer un mail</a>
				{% endif %}


			</div>
		</div>
		<div class="col2">
			<div class="title">
				<h3>{{ user.firstname }}
					{{ user.lastname }}</h3>
			</div>
			<div class="admin-panel">

				<section>
					<p>Enregistré le
						{{ user.addedDate ? user.addedDate|date('d/m/Y') : '' }}, 
												                    mis à jour le
						{{ user.addedDate ? user.updateDate|date('d/m/Y') : '' }}</p>
				</section>

				<section>
					<table class="tab2col">
						<tr>
							<td class="ws">Email :</td>
							<td>
								<a href="mailto:{{ user.email }}">{{ user.email }}</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td class="ws">Téléphone :</td>
							<td>{{ user.phone }}</td>
							<td></td>
						</tr>
						<tr>
							<td class="ws">Anniversaire :</td>
							<td>{{ user.birthday ? user.birthday|date('d/m/Y') : '' }}</td>
							<td></td>
						</tr>
						<tr>
							<td class="ws">Niveau :</td>
							<td>{{ user.level }}</td>
							<td></td>
						</tr>
						<tr>
							<td class="ws">Années de pratique :</td>
							<td>{{ user.yearsPlaying }}</td>
							<td></td>
						</tr>
						<tr>
							<td class="ws">Autre instrument :</td>
							<td>{{ user.otherInstrument }}</td>
							<td></td>
						</tr>
						<tr>
							<td class="ws">Info supplémentaire :</td>
							<td>{{ user.comment }}</td>
							<td></td>
						</tr>
					</table>
				</section>

				<section class="line-top">
					<h4>Note</h4>
					<a onclick="animNote('pencil')" class="bt-note-pencil active">
						<svg class="">
							<title>Éditer</title>
							<use xlink:href="/img/icons.svg#pencil"></use>
						</svg>
					</a>
					<a onclick="animNote('close')" class="bt-note-close">
						<svg class="">
							<title>Éditer</title>
							<use xlink:href="/img/icons.svg#cross"></use>
						</svg>
					</a>
					<div class="note-txt note active">
						{{ user.note|raw }}
					</div>
					<div class="note-form">
						{{ include('user/_form_note.html.twig') }}
					</div>


				</section>

				<section class="line-top">
					<h4>Cours à venir</h4>

					<table class="tab2col">
                            <tr>
                                <th>Valid</th>
                                <th>Date</th>
                                <th>Heure</th>
                                
                                <th class=""></th>
                            </tr>

                        {% set mois = '' %}    
                        {% for lesson in lessons %}
                            
                            
                            {% if mois != lesson.date|date("m-Y") %}
                                <tr>
                                    <td colspan="5" class="td-soustitre">
                                        {{ lesson.date|date("M\\. Y") }}
                                    </td>
                                </tr>
                                {% set mois = lesson.date|date("m-Y") %}
                            {% endif %}

                            
                            

                            <tr>
                                <td>
                                    <svg>
										{% if lesson.valid == true %}
											<title>Cours validé</title>
											<use xlink:href="/img/icons.svg#check">
                                        {% else %}
                                            <title>En attente de validation</title>
                                            <use xlink:href="/img/icons.svg#clock"></use>
                                        {% endif %}
                                    </svg>
                                </td>
                                <td>{{ lesson.date ? lesson.date|date('d-m-Y') : '' }}</td>
                                <td>{{ lesson.hour }} h.</td>

                                 

                                <td class="ws">
                                    {% if is_granted("ROLE_STUDENT") == true %}
                                        {% if lesson.date|date('d-m-Y') > "now"|date_modify('+1 day')|date('d-m-Y') %}
                                            
                                            <a class="bt-tab" href="">Annuler le cours</a>
                                        {% else %}
                                            <a href="">Contacter le prof</a> 
                                        {% endif %}
                                        
                                    {% else %}
                                        <a class="bt-tab" href="{{ path('lesson_show', {'id': lesson.id}) }}">Voir</a>
                                        <a class="bt-tab" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Éditer</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Aucun cours !</td>
                            </tr>
                        {% endfor %}
                    </table>


				</section>

				<section class="line-top">
					<h4>Documents</h4>
					<a onclick="btFile()" class="" id="bt-plus">
						<svg class="">
							<title>Ajouter un document</title>
							<use xlink:href="/img/icons.svg#plus"></use>
						</svg>
					</a>
				</section>
				<section class="active" id="file-list">
					<table class="tab2col">
						<tr>
							<th>Date</th>
							<th>Titre / Information</th>
							<th></th>
						</tr>
						{% for file in files %}
							<tr>
								<td>
									{{ file.publishedAt ? file.publishedAt|date('d/m/Y') : '' }}
								</td>
								<td class="w100">
									<p>{{ file.title }}</p>
									<p class="txt-gris">{{ file.description|raw }}</p>
								</td>
								<td>
									<a class="" href="{{ path('file_edit', {'id': file.id}) }}">
										<svg class="">
											<title>Éditer</title>
											<use xlink:href="/img/icons.svg#pencil"></use>
										</svg>
									</a>
								</td>
							</tr>

						{% else %}
							<tr>
								<td class="ws">Aucun Document !</td>
								<td></td>
							</tr>
						{% endfor %}
					</table>

				</section>
				<section class="" id="form-file-user">
					{{ include('file/_form_file_user.html.twig') }}

				</section>
			</section>


		</div>
	</div>
</section>{% endblock %}
